PORT=3001
MONGO_URI=mongodb://localhost/testdb
RABBITMQ_URI=amqp://localhost
RABBITMQ_EXCHANGE=exchange
RABBITMQ_QUEUE=queue
ACUITY_USER_ID=test_user
ACUITY_API_KEY=test_key
ACUITY_BASE_URL=https://acuityscheduling.com/api/v1
